SECRET_KEY=cybervault-secret-key-change-in-production
# DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
DATABASE_URL=
FLASK_ENV=development
PORT=5000
